## Identity Operators (IS - IS NOT)
#### Identity operators are used to compare the memory location of two objects. These are different from the relational operators because they check if two variables refer to the same object, not if their values are equal. (returns True or False) (optimization, performance enhancement)

In [22]:
#basic example (immutable)
#is
a = 1 
b = 1
#save one copy

print(a is b)

#function id
print(id(a))
print(id(b))

True
140705466689976
140705466689976

In [25]:
a = "python"
b = "python"

# print(a is b)
id(a)
id(b)

2223238970608

In [ ]:
a = "python"
b = "python"

# print(a is b)
id(a)
id(b)

In [27]:
a = "python"
b = "python"

print(a is b)
print(id(a))
print(id(b))

True
2223238970608
2223238970608

In [29]:
#input
x = input("enter")
y = input("enter")

print(x is y)
print(id(x))
print(id(y))

enter python
enter python

False
2223338804720
2223338802224

In [30]:
x = int(input("enter"))
y = int(input("enter"))

print(x is y)
print(id(x))
print(id(y))

enter 1
enter 1

True
140705466689976
140705466689976

In [ ]:
x = int(input("enter"))
y = int(input("enter"))

print(x is y)

In [32]:
# Identity with mutable objects
a = [1,2,3]
b = [1,2,3]
c = [1,2,3]
print(a == b) 
print(a is b)

True
False

In [33]:
# Identity with mutable objects
a = [1,2,3]
b = [1,2,3]
c = [1,2,3]

print(a is b)
print(id(a)) #location
print(id(b)) #location

False
2223350943424
2223350972288

In [35]:
# Identity with mutable objects
a = [1,2,3]
b = a #python assigned same location
c = [1,2,3]

print(a is b)
print(id(a))
print(id(b))

True
2223350550528
2223350550528

In [41]:
# Integer Memory Range (Caching Behavior) -5 to 256 faster results

a = 256
b = 256
print(a == b)
print(a is b)
print(id(a))
print(id(b))

True
True
140705466698136
140705466698136

In [42]:
x = 257
y = 257

print(x == y)
print(x is y)
print(id(x))
print(id(y))

True
False
2223349575536
2223349571728

In [43]:
#is not
a = 256
b = 256

print(a is not b)

False

In [44]:
#is not
a = 257
b = 257

print(a is not b)

True

In [45]:
# short string / long string
a = "python is beautiful"
b = "python is beautiful"
print(a is b)

print(id(a))
print(id(b))

False
2223350990832
2223350992432

In [46]:
a = "pythonisbeautiful"
b = "pythonisbeautiful"
print(a is b)

print(id(a))
print(id(b))

True
2223350990704
2223350990704

In [47]:
x='python_world'
y='python_world'

print(x is y)

print(id(x))
print(id(y))

True
2223350994160
2223350994160

In [49]:
# Difference between == and is:
# a == b
# a is b

a = 555
b = 555

print(a == b)
print(a is b)

True
False

In [57]:
import sys
# sys.getsizeof()

a = "bytes"

x = [1, 2, 3]
print(sys.getsizeof(x),a)

y = 100
print(sys.getsizeof(y),a)

z = "Hi, We are learning python"
print(sys.getsizeof(z),a)

88 bytes
28 bytes
67 bytes

In [ ]:
!pip install sys

In [29]:
#office example (practice)
ali = ['manager','office location','salary']
ahmed = ali
khan = ['manager','office location','salary']

## Membership Operators (IN - NOT IN)
#### Membership operators are used to test whether a value is present in a sequence (such as a list, tuple, or string). These operators are often used in loops or conditions to check membership. (returns Ture or False)

In [58]:
#basic example
a = "python"
b = "python"

print(y in a)

TypeError: 'in <string>' requires string as left operand, not int

In [59]:
#basic example
a = "python"
b = "python"

print('y' in a)

True

In [60]:
#returns true/false or customize action (if/loop/function etc) if value exists in sequence
#cars list

cars = ['mehran','ferrari','sportage']
car
print('ferrari' in cars)

True

In [62]:
cars = ['mehran','ferrari','sportage']
cars[0]
# print('ferrari' in cars)

'mehran'

In [63]:
len(cars)

3

In [ ]:
a = ['mehran','ferrari','sportage']

print('ferrari' in cars)

In [64]:
#not in

cars = ['mehran','ferrari','sportage']
print('laptop' not in cars)

True

In [65]:
# Difference between == and in:
#a == b
#1 in a/b

a=['apple','mango','orange']
b=['apple','mango','orange']

print(a == b)
print('mangoooooo' in a)

True
False

In [66]:
# Edge Cases ""
# Empty sequences []
# Case-sensitivity apple Apple

a = ""
print("" in a)

True

In [67]:
a = ""
print("a" in a)

False

In [68]:
# Empty sequences []

a = []
print(1 in a)

False

In [70]:
a = []
print([] in a) #important to note

False

In [72]:
a = []
print([0] in a) #important to note

False

In [73]:
a = [0]
print([0] in a) #important to note

False

In [71]:
a = []
print([0:] in a) #important to note

SyntaxError: invalid syntax (4185853102.py, line 2)

In [69]:
# Case-sensitivity apple Apple

a = "python"
print('Python' in a)

False

In [63]:
#practice
#find out students class
name = ['ali','ahmed','shah']
campus = ['A','B','C']

## Tuple () (Data Structure)

In [ ]:
()

#Ordered
a = ('ali', 14, 'student')

#Allow duplicates:
#Can store mixed data types:
#Indexing and Slicing:
#empty_tuple
# single_element_tuple = (5,)
#nested tuple
#Immutable

In [74]:
#Ordered
a = ('ali', 14, 'student')
a

('ali', 14, 'student')

In [75]:
type(a)

tuple

In [76]:
type([])

list

In [77]:
type(())

tuple

In [78]:
type("")

str

In [80]:
#Can store mixed data types:
a = ('ali', 14, 141.2,'father name')
a

('ali', 14, 141.2, 'father name')

In [81]:
a = ('ali', 14, 141.2,'father name')
a(2)

TypeError: 'tuple' object is not callable

In [82]:
a = ('ali', 14, 141.2,'father name')
a[2]

141.2

In [83]:
a = ('ali', 14, 141.2,'father name')
a[2]='166.3'

TypeError: 'tuple' object does not support item assignment

In [84]:
# dir
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [85]:
#indexing
a = ('ali', 14, 141.2,'father name')
a[1]

14

In [86]:
#slicing
a = ('ali', 14, 141.2,'father name')
a[0:3]

('ali', 14, 141.2)