### Tuple ()

In [2]:
# Concatenation
a = (1,3)
b = (4,6)
c = a + b
c

(1, 3, 4, 6)

In [3]:
# Concatenation #unordered
a = (1,4)
b = (7,6)
c = a + b
c

(1, 4, 7, 6)

In [4]:
# Repetition
a=(1,2,3,'c')*2
a

(1, 2, 3, 'c', 1, 2, 3, 'c')

In [7]:
a=(1,2,3,'c')+2
a

TypeError: can only concatenate tuple (not "int") to tuple

In [5]:
a=(1,2,3)-2
a

TypeError: unsupported operand type(s) for -: 'tuple' and 'int'

In [6]:
a=(1,2,3)-(1,3,6)
a

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [8]:
a=(1,2,3)-(1,2,3)
a

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [9]:
#immutability
a=(1,2,4,5)
a[1]='abc'

TypeError: 'tuple' object does not support item assignment

In [10]:
#immutability
a=(1,2,4,5)
a[-1]='abc'

TypeError: 'tuple' object does not support item assignment

In [12]:
# Access List
a=(1,2,4,5,[1,2,4])
a[4]

[1, 2, 4]

In [14]:
a=(1,2,4,5,[1,'b',4])
a[4][1]

'b'

In [17]:
a=(1,2,4,5,[1,'b',4])
a[4][1]='x'
a

(1, 2, 4, 5, [1, 'x', 4])

In [18]:
a=(1,2,4,5)
a[2]='x'

TypeError: 'tuple' object does not support item assignment

In [19]:
#nested tuple
nested_tuple = (1, (2, 3), (4, 5, 6))
nested_tuple

(1, (2, 3), (4, 5, 6))

In [21]:
a = (1,2,('a','b'),7,8)
a[2][1]

'b'

### Packing and Unpacking in Tuples
Packing refers to the process of combining multiple values into a tuple,
and Unpacking is extracting those values back from the tuple into individual variables.

In [22]:
# #packing
person_info = ("John", 25, "Software Engineer")
person_info

('John', 25, 'Software Engineer')

In [26]:
#unpacking
name, age, job = person_info
# name
# age
# job

'Software Engineer'

In [27]:
#unpacking
name, job, age, location = person_info
# name
age
# job

ValueError: not enough values to unpack (expected 4, got 3)

In [28]:
#unpacking
name, job, age = person_info
# name
age
# job

'Software Engineer'

In [29]:
job

25

In [30]:
values = ("Apple", "Banana", "Cherry", "Grapes")
first, second, *others = values
first

'Apple'

In [31]:
values = ("Apple", "Banana", "Cherry", "Grapes")
first, second, *others = values
second

'Banana'

In [32]:
values = ("Apple", "Banana", "Cherry", "Grapes")
first, second, *others = values
others

['Cherry', 'Grapes']

In [33]:
values = ("Apple", "Banana", "Cherry", "Grapes")
first, second, *others = values
*others

SyntaxError: can't use starred expression here (3894210640.py, line 3)

In [35]:
values = ("Apple", "Banana", "Cherry", "Grapes")
values

('Apple', 'Banana', 'Cherry', 'Grapes')

In [36]:
values = ("Apple", "Banana", "Cherry", "Grapes")
list(values)

['Apple', 'Banana', 'Cherry', 'Grapes']

In [37]:
abc = ["Apple", "Banana", "Cherry", "Grapes"]
tuple(abc)

('Apple', 'Banana', 'Cherry', 'Grapes')

In [39]:
details = ("Alice", 30, "Manager", "New York")
name, age, role, _ = details
name
age

30

In [41]:
details = ("Alice", 30, "Manager", "New York",'apple')
name, age, role, _ , _= details
_

ValueError: too many values to unpack (expected 4)

In [42]:
details = ("Alice", 30, "Manager", "New York",'apple')
name, age, role, _ , _= details
_

'apple'

### Dictionary {key:value}

In Python, a dictionary is an unordered, mutable collection of key-value pairs. It is one of the most versatile data structures in Python, allowing you to efficiently store and retrieve data based on custom keys.

In [ ]:
#unordered
#mutable
#indexed by key
#no duplicates

In [43]:
#first dict

my_dict1 = {
    'name' = 'ali',
    'age' = 22
}
my_dict1

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2577826987.py, line 4)

In [44]:
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
my_dict

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [47]:
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York",
}
my_dict

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [45]:
my_dict = {
    "name": "Alice"
    "age": 25
    "city": "New York"
}
my_dict #key : value

SyntaxError: invalid syntax (3688002071.py, line 3)

In [48]:
#indexed by key
# Accessing Values in a Dictionary
# Unlike lists, which are indexed by numbers, dictionaries use keys to access values.
my_dict[0]

KeyError: 0

In [49]:
my_dict['city']

'New York'

In [52]:
#no duplicates
# Each key in a dictionary must be unique, but different keys can have the same value.
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York",
    "age": 22
}
my_dict

{'name': 'Alice', 'age': 22, 'city': 'New York'}

In [53]:
my_dict["age"]

22

In [ ]:
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
my_dict

In [55]:
#Modifying a Dictionary
my_dict['email']='abc@gmail.com'
my_dict

{'name': 'Alice', 'age': 22, 'city': 'New York', 'email': 'abc@gmail.com'}

In [56]:
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York",
}
my_dict

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [59]:
my_dict['age']=44
my_dict

{'name': 'Alice', 'age': 44, 'city': 'New York'}

In [60]:
len(my_dict)

3

In [61]:
dir(my_dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [79]:
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
my_dict

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [ ]:
#difference between del,pop,popitem, clear

In [63]:
# Removing Items
del my_dict["age"]
my_dict

{'name': 'Alice', 'city': 'New York'}

In [68]:
my_dict.popitem() #get dict empty #run 3 times

KeyError: 'popitem(): dictionary is empty'

In [70]:
my_dict.pop('age')

25

In [73]:
my_dict.pop()

TypeError: pop expected at least 1 argument, got 0

In [74]:
my_dict

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [77]:
my_dict.clear()

In [78]:
my_dict

{}

In [80]:
my_dict.keys()

dict_keys(['name', 'age', 'city'])

In [81]:
my_dict.values()

dict_values(['Alice', 25, 'New York'])

In [82]:
my_dict.items()

dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])

In [83]:
dict2 = {
    "student": "Ali",
    "rollno": 22,
    "state": "Punjab"
}
my_dict

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [ ]:
# my_dict.update(dict2)
# my_dict

In [85]:
print(my_dict.get("abc"))

None

In [84]:
my_dict['abc']

KeyError: 'abc'

In [86]:
# Nesting Dictionaries
nested_dict = {
    "person1": {"name": "Alice", "age": 25},
    "person2": {"name": "Bob", "age": 30}
}
nested_dict

{'person1': {'name': 'Alice', 'age': 25},
 'person2': {'name': 'Bob', 'age': 30}}

In [88]:
nested_dict["person1"]['age']

25

In [91]:
nested_dict["person1"]['age']=55
nested_dict

{'person1': {'name': 'Alice', 'age': 55},
 'person2': {'name': 'Bob', 'age': 30}}

In [92]:
my_dict3 = dict(name = 'ali', age = 34 , job = 'engineer') #dict as constructor
print(my_dict3)

{'name': 'ali', 'age': 34, 'job': 'engineer'}

In [ ]:
#errors
my_dict = {"name": "Alice"}
print(my_dict["age"])  # KeyError: 'age'

In [ ]:
my_dict = {[1, 2, 3]: "list as key"}  # TypeError

### SET {}
A set in Python is an unordered collection of unique elements. This means that a set cannot contain duplicate values, and the elements are stored in no specific order.

Unordered: The elements in a set do not maintain any specific order.

Unique: Sets cannot contain duplicate elements. If you try to add a duplicate element, it will not be added.

Mutable: You can add or remove elements from a set after it is created.

No indexing: Sets do not support indexing or slicing like lists.

In [93]:
#first set

name = {1,33,5,'abc',447.5,'pqr',1,1,1,33} 
name

{1, 33, 447.5, 5, 'abc', 'pqr'}

In [ ]:
#set

fruits = {'apple','banana','coconut',1,2,3}
fruits

In [98]:
#set as constructor
a = ['sky','cloud','apple',2,55,7,2,2,'sky']
b = set(a)

In [95]:
len(a)

9

In [99]:
len(b)

6

In [96]:
dir(set())

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
#concatenation
#update

In [ ]:
#difference between remove,discard,pop, clear

In [101]:
fruits = {"apple", "banana", "cherry"}

# fruits.remove("banana")
# print(fruits)

fruits.remove("orange")
print(fruits)

# fruits.pop()
# print(fruits)

# fruits.clear()
# print(fruits)

KeyError: 'orange'

In [ ]:
# #operation on set

# set1 = {1, 2, 3, 4}
# set2 = {3, 4, 5, 6}

# union_set = set1 | set2
# print(union_set)

# intersection_set = set1 & set2
# print(intersection_set)

# difference_set = set1 - set2
# print(difference_set)

# sym_diff_set = set1 ^ set2 #returns except commmon
# print(sym_diff_set)

In [ ]:
set1 = {"Alice", "Bob", "Charlie", "Dave"}
set2 = {"Charlie", "Dave", "Eve", "Frank"}