### Functions

In Python, a function is a reusable block of code that performs a specific task. Functions allow us to group related tasks together meaning that you can break down complex programs into smaller, more manageable pieces.

### Why Use Functions?

- Reusability: Once a function is defined, you can call it multiple times without having to rewrite the same code.
- Organization: Functions allow you to organize your code logically into blocks, making it easier to understand.
- Abstraction: Functions can hide complex implementation details, exposing only whatâ€™s necessary.

### Defining a Function

In [ ]:
def function_name(parameters): #parameters/arguments (optional)
    # Function body
    # Code to be executed
    return value #(depends on condition)

In [5]:
def greet():
    print('Welcome')

In [8]:
greet()
greet()
greet()

Welcome
Welcome
Welcome

In [ ]:
#syntax 
def greet():
    print('Hello! User')

greet()

In [9]:
#my first function in python
def message():
    print('Hello World')

message()

Hello World

In [10]:
def message:
    print('Hello World')

message

SyntaxError: expected '(' (2352193185.py, line 1)

In [16]:
def greet(name):
    print('Hello', name)

greet('ali')
greet('aymen')

Hello ali
Hello aymen

In [14]:
#Function with Parameters
def greet(name):
    return print('Hello',name)

In [ ]:
#Function with Parameters
def greet(name):
    print('Hello',name)
    return

greet('abc')

In [15]:
greet('abbas')

Hello abbas

In [17]:
#Function with Parameters
def greet(name):
    print('Hello',name)
    return 

greet('abc')

Hello abc

In [18]:
def greet(name):
    print('Hello',name)
    return 0

greet('abc')

Hello abc

0

In [ ]:
#Function with Parameters
def greet(name):
    print(f"Hello, {name}!")

In [20]:
#Function with Parameters
def greet(name):
    print(f"Hello, {name}!")

greet('qasim')
greet('zeeshan')

Hello, qasim!
Hello, zeeshan!

In [21]:
def greet(name="Guest"):
    print('welcome',name)

greet()

welcome Guest

In [22]:
greet('habib')

welcome habib

In [ ]:
#Default Arguments
def greet(name="Guest"):
    print(f"Hello, {name}!")

greet()
greet('ali')
greet()
greet()

In [23]:
def add(a=2,b=4):
    return a+b

add()

6

In [25]:
def add(a=2,b=4):
    print(a+b)

add(22,33)

55

In [28]:
def add(a=2,b=4):
    print(b+a)
    print(a+b)
    return a+b
    return b+a

add()

6
6

6

In [31]:
def add(a=2,b=4,c=5):
    print(b+a)
    print(a+b)
    return a+b+c
    return a-b

add()

6
6

11

In [32]:
def add(a=2,b=4,c=22):
    print(b+a)
    print(a+b)
    return a-b
        return a+b

add()

IndentationError: unexpected indent (3476774600.py, line 5)

In [24]:
add(7,5)

12

In [ ]:
# Multiple Parameters
def add(a, b):
    return a + b

In [33]:
# Multiple Parameters
def add(a, b):
    return int(a + b)
    
add(3.2,'abc')

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
def fruits(*abc):
    return abc

fruits('apple','orange','cherry')

In [ ]:
def fruits(*abc):
    return abc

fruits(a='apple',b='orange',c='cherry')

In [ ]:
def fruits(*abc):
    return list(abc)

fruits('apple','orange','cherry')

In [ ]:
def subtract(a, b):
    print(return a - b)

subtract(b=3, a=10)

In [ ]:
# def subtract(a, b):

return(22-2)

# subtract(b=3, a=10)

In [ ]:
def greet(**xyz):
    return xyz

greet(name='umair', age=22)

In [ ]:
def greet(**abc):
    print(f"Hello, {abc['name']}!")

greet(name="Alice")

In [ ]:
def job(**kwargs):
    print('Job Title:', kwargs)

job()

In [ ]:
def job(**kwargs):
    print('Job Title:', kwargs['title'])

job(title='Sales')

In [ ]:
def xyz(**pqr):
    for i,v in pqr.items():
        print(f"{i}:{v}")

xyz(age=22, name='ali', job='data analyst', salary="500k")

In [34]:
# Positional Arguments
def subtract(a, b):
    return b-a
    
subtract(22,222)

200

In [35]:
# Keyword Arguments
def subtract(a, b):
    return a - b

subtract(b=3, a=10)

7

In [36]:
def subtract(a, b=5):
    return a - b

subtract(b=3, a=10)

7

In [37]:
def subtract(a, b=5):
    return a - b

subtract(a=10)

5

In [38]:
def subtract(a, b):
    return a - b

subtract(a=10)

TypeError: subtract() missing 1 required positional argument: 'b'

In [ ]:
# Variable-length Arguments

In [52]:
def add(*abc):
    return sum(abc)

# add(1,2,5,6,7)
add(1,2,'abc')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [41]:
# def add(*abc):
#     return

sum(1,2,4)

TypeError: sum() takes at most 2 arguments (3 given)

In [44]:
sum(1,2)

TypeError: 'int' object is not iterable

In [46]:
print(sum(1,2))

TypeError: 'int' object is not iterable

In [45]:
x = (1,2,3,4)
y= 22
sum(x)

10

In [47]:
sum((1,4,6,7))

18

In [48]:
sum([1,2,3,5],2)

11

In [49]:
sum([1,2,3,5],2)

13

In [50]:
sum([1,2,3,5],2,4)

TypeError: sum() takes at most 2 arguments (3 given)

In [ ]:
# *args collects extra positional arguments into a tuple.
def add(*args):
    return sum(args)

add(1,2,3,4,56)
# print(add(1, 2, 3))
# print(add(4, 5, 6, 7))

In [ ]:
def greet(*args):
    for name in args:
        print(f"Hello, {name}!")
        
greet("Alice", "Bob", "Charlie")

In [53]:
def greet(**xyz):
    print(f"Hello!, {xyz['name']}")

greet(name='basit')

Hello!, basit

In [54]:
def greet(**xyz):
    print(f"Hello!, {xyz['name']}")

greet(xyz)

NameError: name 'xyz' is not defined

In [55]:
def greet(**xyz):
    print(f"Hello!, {xyz['name']}")

greet(name='basit','ali')

SyntaxError: positional argument follows keyword argument (3972851776.py, line 4)

In [56]:
def greet(**xyz):
    print(f"Hello!, {xyz['name']}")

greet(name='basit',abc='ali')

Hello!, basit

In [57]:
def greet(**xyz):
    print(f"Hello!, {xyz['abc']}")

greet(name='basit',abc='ali')

Hello!, ali

In [58]:
def greet(**xyz):
    print(f"Hello!, {xyz['name']}")

greet(name='basit',name='ali')

SyntaxError: keyword argument repeated: name (1624490747.py, line 4)

In [ ]:
def greet(**xyz):
    print(f"Hello!, {xyz['name']}")

greet(name='basit',abc='ali')

In [60]:
# **kwargs collects extra keyword arguments into a dictionary.
def greet(**kwargs):
    print(f"Hello, {kwargs['name']}!")

greet(name="Alice",'ali')

SyntaxError: positional argument follows keyword argument (774707235.py, line 5)

In [61]:
def greet(**kwargs):
    print(f"Hello, {kwargs['name']}!")

greet(name="Alice")

Hello, Alice!

In [ ]:
def greet(**abc):
    print(f"Hello, {abc['name']}!")

greet(name="Alice")

In [64]:
def job(**kwargs):
    print('Job Title:', kwargs)

job()

Job Title: {}

In [65]:
def job(**kwargs):
    print('Job Title:', kwargs['title'])

job(title='Sales')
job(title='accountant')
job(title='businessman')

Job Title: Sales
Job Title: accountant
Job Title: businessman

In [66]:
def job(**kwargs):
    print('Job Title:', kwargs)

job(title='Sales')
job(title='accountant')
job(title='businessman')

Job Title: {'title': 'Sales'}
Job Title: {'title': 'accountant'}
Job Title: {'title': 'businessman'}

In [ ]:
def describe_person(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")
        
describe_person(name="Alice", age=30, job="Engineer")

In [67]:
def pqr(**kwargs):
    for abc, xyz in kwargs.items():
        print(f"{abc}:{xyz}")

pqr(name="Alice", age=30, job="Engineer")

name:Alice
age:30
job:Engineer

In [68]:
def pqr(**kwargs):
    print(kwargs)

pqr(name="Alice", age=30, job="Engineer")

{'name': 'Alice', 'age': 30, 'job': 'Engineer'}